@CHARSET "ISO-8859-1";

 .demo-table{
	border-collapse: collapse;
	border-bottom:1px solid gray;
	text-align:center;
	border-top:1px solid gray;
	background:none repeat scroll 0 0 red; 
} 

.demo-table-header{
	border-bottom: 1px solid blue;
	background:none repeat scroll 0 0 #66CCFF;
	padding:10px;
}


/* .demo-table{ */
/* 	border-bottom: 1px solide red; */
/* /* 	background: none repeat scroll 0 0 #ff80ff; */ */
/* } */

.demo-table-row:nth-child(even) {
	background: #408080; 
}